<?php

// enable php error
error_reporting(E_ALL);
ini_set('display_errors', 1);

// define base url
define('MY_INDEX_PAGE', '');
if (isset($_SERVER['REMOTE_ADDR'])) {
    $PROTOCOL = "http" . ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == "on") ? "s" : "") . "://";
    $SERVER   = isset($_SERVER['HTTP_HOST']) ? $_SERVER['HTTP_HOST'] : $_SERVER['SERVER_NAME'];
    $SERVER   = isset($_SERVER['HTTP_X_FORWARDED_HOST']) ? $_SERVER['HTTP_X_FORWARDED_HOST'] : $SERVER;
    $BASE_URL = $PROTOCOL . $SERVER . str_replace(basename($_SERVER['SCRIPT_NAME']), "", $_SERVER['SCRIPT_NAME']);
    define('MY_BASE_URL', $BASE_URL);
} else {
    define('MY_BASE_URL', '');
}
